@charset "UTF-8";

.flex{
    display: flex;
}
main{
    background-color: rgb(40, 40, 40);
}
header{
    background-color: rgb(7, 7, 7);
    justify-content: space-between;
    align-items:end;
}
h1{
    color: rgb(187, 9, 8);
    font-family: Teko;
    font-size: 48px;
    font-weight: 400;
    /* line-height: 69px; */
    letter-spacing: 0%;
    margin: 0;
    text-align: left;
}
i{
    color: rgb(187, 9, 8);
    font-size: 40px;
}
#shell{
    display:grid;
}
#banner{
    background-image: url("images/BANNER.png");
}
article{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
    color: white;
}
.date{
    color: rgb(255, 29, 41);
}
footer{
    background-color: rgb(7, 7, 7);
    color: rgb(188, 188, 188);
    font-family: Teko;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
}
